.cs_go_card {
    position: relative;
    top: 100px;
    left: 100px;
    width: 360px;
    height: 182px;
    background-color: #ac4646;
    background-image: url(cs_go_asset1.jpg);
    background-size: cover;
    filter:grayscale();
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    perspective: 1000px;
    box-shadow: 0 0 0 5px #ffffff80;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  
  
  .cs_go_card:hover {
    transform: scale(1.05);
    box-shadow: 8px 8px 32px rgba(0, 0, 0);
    filter: grayscale(0);
  }
  
  .cs_go_card__content {
    position: absolute;
    display: flex;
    
    flex-direction: column;
    /* justify-content:space-between; */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    background-color: transparent;
    transform: rotateX(-90deg);
    transform-origin: bottom;
    transition: all 0.6s cubic-bezier(0.175, 0.885, 0.32, 0.965);
  }
  .cs_go_card_logo{
    width: 220px;
    height: 50px;
    /* border: 1px solid; */
    position:relative;
    background-image: url(cs_go_asset3.png);
    background-size:cover;
    background-repeat: no-repeat;
    
  }
  
  .cs_go_card:hover .cs_go_card__content {
    transform: rotateX(0deg);
  }
  /* .cs_go_card_description{
    height: 70px;
    width: 300px;
    font-size: 14px;
    background-color: rgba(0, 0, 0, 0.316);
    font-family: Georgia, Helvetica, Arial, Geneva, sans-serif;
    color:yellowgreen
  } */